<h1>Log in Page is here!</h1>




<% if flash[:error] %>
  <li><%= flash[:error] %></li>
<% end %>

<%#login %>
<%= form_tag "/sessions"  do %>
  <div class = "login"><label for="email">Email:</label></div>
  <%= text_field_tag :email %>
  <div class = "login"><label for="password">Password:</label></div>
  <%= text_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>

<%= link_to "New User", new_user_path %>
