

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <h1>Welcome <%=@user.name%>'s!</h1>
    <!-- Navbar  -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><i class="fas fa-socks"></i>Stumblr</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
          <ul class="nav navbar-nav">
            <li><a href="<%= styles_path %>">Styles</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= new_user_path %>"> Sign Up</a></li>
            <li><a href="<%= new_session_path %>"> Log In</a></li>

         </ul>
          </div>
      </div>
    </nav>

    <!-- Create  A Post  -->

    <div class="container" id="upload">
          <h3>Create A Post</h3>
      <%= form_for Post.new do |f| %>
        <div class="form_group" id="description">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
        <div class="form_group">
          <%= f.label :add_image %>
          <%= f.file_field :image %>
        </div>
        <div class="form_group">
          <%= f.hidden_field :user_id, value: @current_user.id, class:'d-none'%>
        </div>
        <br>
        <div class="form_group">
          <%= f.submit 'Create Post', class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>

    <div class="container">
      <!-- Edit A User  -->
      <div class="edit">
        <div class="user"><label></label><%= @user.bio%></div>
        <div class = "edit"><%= link_to 'edit', "/users/#{@user.id}/edit"%></div>
      </div>
      <div class="logout">
        <!-- Logout A User  -->
        <%= form_tag '/logout', method: :delete do %>
          <%= submit_tag "Log Out!!" %>
        <%end%>
      </div>
    </div>

    <section class="post">
      <% @posts.each do |post| %>
      <%= image_tag post.image.attachment %>
      <div class="description">
        <%= post.description %>
      </div>
      <% end %>
    </section>


    <!-- bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
