

    <!-- Create  A Post  -->

    <div class="container" id="upload">
          <h3>Create A Post</h3>
      <%= form_for Post.new do |f| %>
        <div class="form_group" id="description">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
        <div class="form_group">
          <%= f.label :add_image %>
          <%= f.file_field :image %>
        </div>
        <div class="form_group">
          <%= f.hidden_field :user_id, value: @current_user.id, class:'d-none'%>
        </div>
        <br>
        <div class="form_group">
          <%= f.submit 'Create Post', class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>

    <div class="container">
      <!-- Edit A User  -->
      <div class="edit">
        <div class="user"><label></label><%= @user.bio%></div>
        <div class = "edit"><%= link_to 'edit', "/users/#{@user.id}/edit"%></div>
      </div>
      <div class="logout">
        <!-- Logout A User  -->
        <%= form_tag '/logout', method: :delete do %>
          <%= submit_tag "Log Out!!" %>
        <%end%>

        <%= form_for "/users/#{@user.id}", method: :delete do %>
          <%= submit_tag "Delete Profile!!" %>
        <%end%>
      </div>
    </div>

    <section class="post">
      <% @posts.each do |post| %>
      <%= image_tag post.image.attachment %>
      <div class="description">
        <%= post.description %>
      </div>
      <% end %>
    </section>
