
    <div>
    <h2><%= @style.name %></h2>
    <% @style.image_url %>
      <img id="image" class= "show_image" align="middle" href="<% @style.image_url %>"><%=image_tag @style.image_url %></img>
       </div>

<br>
     <% @user_style = UserStyle.new%>
    <%= render :partial => "user_styles/new" %>

    <ol>
    <% @style.user_styles.each do |item|%>
    <% if item.comments != nil %>
    <div class = "list">
        <li><%=item.user.name%>:
            <%= item.comments%> by <%= link_to item.user.name, user_path(item.user)%>
        </li>
      <%end%>
    <%end%>
    </ol>
  </div>
